name: draft-release
on:
  push:
    tags:
      - 'v*'
env:
  CARGO_TERM_COLOR: always
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: Update submodules
        run: |
          git submodule update --init --recursive
          git submodule update --remote --recursive
      
      - name: Get custom tarball name
        id: get_tarball_name
        run: echo "TARBALL_NAME=${{ github.ref_name }}" >> $GITHUB_OUTPUT
      
      - name: Shell PWD Sync submodules
        run: |
          pwd
          ls -al
      
      - name: Create custom tarball artifact
        run: |
          cd ../
          mkdir -p artifacts
          tar czvf artifacts/${{ steps.get_tarball_name.outputs.TARBALL_NAME }}.tar.gz \
            --exclude='.git' \
            --exclude='.github' \
            --exclude='build' \
            --exclude='devel' \
            --exclude='*.o' \
            ./${{ github.event.repository.name }}
      
      - name: Upload Release Assets
        uses: softprops/action-gh-release@v1
        with:
          files: ../artifacts/${{ steps.get_tarball_name.outputs.TARBALL_NAME }}.tar.gz
          body: Release ${{ github.ref_name }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
